This is a project on Car Price prediction. A chinese company would like to enter the US market, first the company would like to know the factors that affect the prices of Cars in America. Therefore data was taken from 205 cars, varying models each with varying specifications fuel type, number of doors, et cetera, with different prices. Six models were build based on the data and the accuracy of each measured using the R squared, the mean absolute error(MAE) and the Mean Absolute Percentage Error (MAPE).

In [ ]:
egression, LassoCV, ElasticNetCV
from sklearn.model_selection 
import GridSearchCV
import pandas as pd   #data processing, CSV file I/O (e.g. pd.read_csv)
import numpy as np    #linear algebra
import matplotlib.pyplot as plt #Plotting and Visualizing data
import seaborn as sns    #Visualizing dataset structure
import os    # Allows python to interface with the underlying operating system
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.linear_model import Ridge, LinearR

In [ ]:
#check in directory
os.getcwd()

'/content'

In [ ]:
data=pd.read_csv('CarPriceProject.csv')

In [ ]:
#to view the first 5 observations of the data
data.head()

   car_ID  symboling                   CarName  ... citympg highwaympg    price
0       1          3        alfa-romero giulia  ...      21         27  13495.0
1       2          3       alfa-romero stelvio  ...      21         27  16500.0
2       3          1  alfa-romero Quadrifoglio  ...      19         26  16500.0
3       4          2               audi 100 ls  ...      24         30  13950.0
4       5          2                audi 100ls  ...      18         22  17450.0

[5 rows x 26 columns]

In [ ]:
#To view the last 5 observations of the data
data.tail()

     car_ID  symboling          CarName  ... citympg highwaympg    price
200     201         -1  volvo 145e (sw)  ...      23         28  16845.0
201     202         -1      volvo 144ea  ...      19         25  19045.0
202     203         -1      volvo 244dl  ...      18         23  21485.0
203     204         -1        volvo 246  ...      26         27  22470.0
204     205         -1      volvo 264gl  ...      19         25  22625.0

[5 rows x 26 columns]

In [ ]:

#To view all the Columns(the various factors)
data.columns

Index(['car_ID', 'symboling', 'CarName', 'fueltype', 'aspiration',
       'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'wheelbase',
       'carlength', 'carwidth', 'carheight', 'curbweight', 'enginetype',
       'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price'],
      dtype='object')

In [ ]:
data.info()
#to view all the data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [ ]:
#To check for any missing values in the data
data.isnull().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [ ]:
#Separating dependedent & Independent Variables 
X=data.iloc[:,1:-1]
y=data['price']
X=X.drop(['CarName'],axis=1)

In [ ]:
X.columns

Index(['symboling', 'fueltype', 'aspiration', 'doornumber', 'carbody',
       'drivewheel', 'enginelocation', 'wheelbase', 'carlength', 'carwidth',
       'carheight', 'curbweight', 'enginetype', 'cylindernumber', 'enginesize',
       'fuelsystem', 'boreratio', 'stroke', 'compressionratio', 'horsepower',
       'peakrpm', 'citympg', 'highwaympg'],
      dtype='object')

In [ ]:
#To convert categorical variables to numeric variable(indicator variables)
X_trans = pd.get_dummies(X)
X_trans.head()

   symboling  wheelbase  ...  fuelsystem_spdi  fuelsystem_spfi
0          3       88.6  ...                0                0
1          3       88.6  ...                0                0
2          1       94.5  ...                0                0
3          2       99.8  ...                0                0
4          2       99.4  ...                0                0

[5 rows x 52 columns]

In [ ]:
#To split the data, 80% training set and 20% test set
X_new,X_test,y_new,y_test=train_test_split(X_trans,y,test_size=0.2, random_state=0)
X_new.head()
X_test.shape

(41, 52)

In [ ]:
#To check for missing values
X_new.isnull().sum()

symboling                0
wheelbase                0
carlength                0
carwidth                 0
carheight                0
curbweight               0
enginesize               0
boreratio                0
stroke                   0
compressionratio         0
horsepower               0
peakrpm                  0
citympg                  0
highwaympg               0
fueltype_diesel          0
fueltype_gas             0
aspiration_std           0
aspiration_turbo         0
doornumber_four          0
doornumber_two           0
carbody_convertible      0
carbody_hardtop          0
carbody_hatchback        0
carbody_sedan            0
carbody_wagon            0
drivewheel_4wd           0
drivewheel_fwd           0
drivewheel_rwd           0
enginelocation_front     0
enginelocation_rear      0
enginetype_dohc          0
enginetype_dohcv         0
enginetype_l             0
enginetype_ohc           0
enginetype_ohcf          0
enginetype_ohcv          0
enginetype_rotor         0
cylindernumber_eight     0
cylindernumber_five      0
cylindernumber_four      0
cylindernumber_six       0
cylindernumber_three     0
cylindernumber_twelve    0
cylindernumber_two       0
fuelsystem_1bbl          0
fuelsystem_2bbl          0
fuelsystem_4bbl          0
fuelsystem_idi           0
fuelsystem_mfi           0
fuelsystem_mpfi          0
fuelsystem_spdi          0
fuelsystem_spfi          0
dtype: int64

In [ ]:
cat=X_new.dtypes=='object'
cat_f=list(cat[cat].index)
print(cat_f)

[]

In [ ]:
X_test.shape

(41, 52)

In [ ]:
model = LinearRegression()
model.fit(X_new, y_new)

acc_train, acc_test = model.score(X_new, y_new), model.score(X_test, y_test)
mae_train = mean_absolute_error(y_new, model.predict(X_new))
mae_test = mean_absolute_error(y_test, model.predict(X_test))
mape_train = (np.abs(y_new - model.predict(X_new)) / y_new).mean()
mape_test = (np.abs(y_test - model.predict(X_test)) / y_test).mean()

print('\033[1mTraining\033[0m\nR^2: {0:.4f}'.format(acc_train))
print('Mean Absolute Error: ${0:,.2f}'.format(mae_train))
print('Mean Absolute Percent Error: {0:.2%}'.format(mape_train))

print('\n\033[1mTesting\033[0m\nR^2: {0:.4f}'.format(acc_test))
print('Mean Absolute Error: ${0:,.2f}'.format(mae_test))
print('Mean Absolute Percent Error: {0:.2%}'.format(mape_test))

Training
R^2: 0.9524
Mean Absolute Error: $1,276.86
Mean Absolute Percent Error: 10.78%

Testing
R^2: 0.8603
Mean Absolute Error: $2,118.38
Mean Absolute Percent Error: 16.81%

In [ ]:
model = GridSearchCV(Ridge(), param_grid={'alpha':np.arange(0.1, 2, 0.1)})
model.fit(X_new, y_new)
print('Best alpha: {0:.1f}\n'.format(model.best_estimator_.alpha))

acc_train, acc_test = model.score(X_new, y_new), model.score(X_test, y_test)
mae_train = mean_absolute_error(y_new, model.predict(X_new))
mae_test = mean_absolute_error(y_test, model.predict(X_test))
mape_train = (np.abs(y_new - model.predict(X_new)) / y_new).mean()
mape_test = (np.abs(y_test - model.predict(X_test)) / y_test).mean()

print('\033[1mTraining\033[0m\nR^2: {0:.4f}'.format(acc_train))
print('Mean Absolute Error: ${0:,.2f}'.format(mae_train))
print('Mean Absolute Percent Error: {0:.2%}'.format(mape_train))

print('\n\033[1mTesting\033[0m\nR^2: {0:.4f}'.format(acc_test))
print('Mean Absolute Error: ${0:,.2f}'.format(mae_test))
print('Mean Absolute Percent Error: {0:.2%}'.format(mape_test))

Best alpha: 0.7

Training
R^2: 0.9498
Mean Absolute Error: $1,313.41
Mean Absolute Percent Error: 10.85%

Testing
R^2: 0.8564
Mean Absolute Error: $2,238.95
Mean Absolute Percent Error: 17.56%

In [ ]:
model = LassoCV()
model.fit(X_new, y_new)

acc_train, acc_test = model.score(X_new, y_new), model.score(X_test, y_test)
mae_train = mean_absolute_error(y_new, model.predict(X_new))
mae_test = mean_absolute_error(y_test, model.predict(X_test))
mape_train = (np.abs(y_new - model.predict(X_new)) / y_new).mean()
mape_test = (np.abs(y_test - model.predict(X_test)) / y_test).mean()

print('\033[1mTraining\033[0m\nR^2: {0:.4f}'.format(acc_train))
print('Mean Absolute Error: ${0:,.2f}'.format(mae_train))
print('Mean Absolute Percent Error: {0:.2%}'.format(mape_train))

print('\n\033[1mTesting\033[0m\nR^2: {0:.4f}'.format(acc_test))
print('Mean Absolute Error: ${0:,.2f}'.format(mae_test))
print('Mean Absolute Percent Error: {0:.2%}'.format(mape_test))

Training
R^2: 0.8225
Mean Absolute Error: $2,319.96
Mean Absolute Percent Error: 17.09%

Testing
R^2: 0.8087
Mean Absolute Error: $2,736.93
Mean Absolute Percent Error: 21.81%

In [ ]:
model = ElasticNetCV()
model.fit(X_new, y_new)

acc_train, acc_test = model.score(X_new, y_new), model.score(X_test, y_test)
mae_train = mean_absolute_error(y_new, model.predict(X_new))
mae_test = mean_absolute_error(y_test, model.predict(X_test))
mape_train = (np.abs(y_new - model.predict(X_new)) / y_new).mean()
mape_test = (np.abs(y_test - model.predict(X_test)) / y_test).mean()

print('\033[1mTraining\033[0m\nR^2: {0:.4f}'.format(acc_train))
print('Mean Absolute Error: ${0:,.2f}'.format(mae_train))
print('Mean Absolute Percent Error: {0:.2%}'.format(mape_train))

print('\n\033[1mTesting\033[0m\nR^2: {0:.4f}'.format(acc_test))
print('Mean Absolute Error: ${0:,.2f}'.format(mae_test))
print('Mean Absolute Percent Error: {0:.2%}'.format(mape_test))

Training
R^2: 0.7596
Mean Absolute Error: $2,555.26
Mean Absolute Percent Error: 18.83%

Testing
R^2: 0.7059
Mean Absolute Error: $3,179.84
Mean Absolute Percent Error: 23.41%

In [ ]:
from sklearn.svm import SVR

In [ ]:
model = GridSearchCV(SVR(), param_grid={'kernel':['rbf', 'linear', 'poly', 'sigmoid'],
                                        'C':np.arange(0.1, 2, 0.1)})
model.fit(X_new, y_new)

acc_train, acc_test = model.score(X_new, y_new), model.score(X_test, y_test)
mae_train = mean_absolute_error(y_new, model.predict(X_new))
mae_test = mean_absolute_error(y_test, model.predict(X_test))
mape_train = (np.abs(y_new - model.predict(X_new)) / y_new).mean()
mape_test = (np.abs(y_test - model.predict(X_test)) / y_test).mean()

print('\033[1mTraining\033[0m\nR^2: {0:.4f}'.format(acc_train))
print('Mean Absolute Error: ${0:,.2f}'.format(mae_train))
print('Mean Absolute Percent Error: {0:.2%}'.format(mape_train))

print('\n\033[1mTesting\033[0m\nR^2: {0:.4f}'.format(acc_test))
print('Mean Absolute Error: ${0:,.2f}'.format(mae_test))
print('Mean Absolute Percent Error: {0:.2%}'.format(mape_test))

Training
R^2: 0.8209
Mean Absolute Error: $2,188.88
Mean Absolute Percent Error: 15.14%

Testing
R^2: 0.7968
Mean Absolute Error: $2,734.05
Mean Absolute Percent Error: 20.57%

In [ ]:
from sklearn.neighbors import KNeighborsRegressor

In [ ]:
model = GridSearchCV(KNeighborsRegressor(), param_grid={'n_neighbors':[1, 3, 5, 10],
                                                        'p':[1, 2],})
model.fit(X_new, y_new)

acc_train, acc_test = model.score(X_new, y_new), model.score(X_test, y_test)
mae_train = mean_absolute_error(y_new, model.predict(X_new))
mae_test = mean_absolute_error(y_test, model.predict(X_test))
mape_train = (np.abs(y_new - model.predict(X_new)) / y_new).mean()
mape_test = (np.abs(y_test - model.predict(X_test)) / y_test).mean()

print('\033[1mTraining\033[0m\nR^2: {0:.4f}'.format(acc_train))
print('Mean Absolute Error: ${0:,.2f}'.format(mae_train))
print('Mean Absolute Percent Error: {0:.2%}'.format(mape_train))

print('\n\033[1mTesting\033[0m\nR^2: {0:.4f}'.format(acc_test))
print('Mean Absolute Error: ${0:,.2f}'.format(mae_test))
print('Mean Absolute Percent Error: {0:.2%}'.format(mape_test))

Training
R^2: 0.9969
Mean Absolute Error: $80.93
Mean Absolute Percent Error: 0.57%

Testing
R^2: 0.9555
Mean Absolute Error: $1,340.62
Mean Absolute Percent Error: 10.92%

In [ ]:
#to plot a graph to compare the six models
objects = ('Linear', 'Ridge', 'Lasso', 'ElasticNet', 'SVR', 'KNN')
y_pos = np.arange(len(objects))
performance = [10,8,6,4,2,1]

plt.bar(y_pos, performance, align='center', alpha=0.5)
plt.xticks(y_pos, objects)
plt.ylabel('R Squared')
plt.title('CarPrices Prediction Analysis 1')

plt.show()